* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDdMADEH8EM_9pU18-nfrpZoqCP9UZJYjxeg&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
}

/* h1  */

.title {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5em;
  font-family: 'poppins', sans-serif;
  color: #d6d6d6;
  font-weight: bold;
}

/* main container */

.main-container {
  width: 100%;
  height: 650px;
}

h3 {
  color: #d6d6d6;
  font-family: 'poppins', sans-serif;
  font-size: 1em;
}

.r-score {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-left: 4em;
  padding-top: 1em;
}

/* form h3 */

.add {
  color: #f9f9f9;
  font-size: 1.5em;
  font-family: 'poppins', sans-serif;
  padding-left: 4em;
  padding-top: 1em;
}

/* form  */

#form {
  display: flex;
  flex-direction: column;
}

/* name input */

#name {
  margin-left: 4em;
  padding: 4px;
  width: 200px;
}

/* score input */

#score {
  padding: 4px;
}

/* media querries */

@media screen and (min-width: 768px) {

/* h1  */

.title {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

/* form h3 */

.add {
  color: #f9f9f9;
  font-size: 1.5em;
}

/* main container  */

.main-container {
  width: 100%;
  display: flex;
  height: 40em;
  justify-content: center;
  margin-top: 4em;
  flex-direction: row;
  gap: 10em;
}

.r-score {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

/* form container  */

.form-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

/* form  */

#form {
  display: flex;
  flex-direction: column;
}

/* inputs  */

input {
  width: 200px;
  height: 25px;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

/* name input */

#name {
  padding: 4px;
}

/* score input */

#score {
  padding: 4px;
}

/* submit button  */

.submit {
  width: 80px;
  padding: 0.5em;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
}

/* refresh button */

.refresh {
  width: 80px;
  padding: 0.5em;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
}

/* Ul list */

.scores-list {
  margin-top: 1em;
  border: 1px solid #fff;
}

li {
  color: #fff;
  font-size: 16px;
  font-family: 'lato', sans-serif;
  padding-bottom: 4px;
  padding-left: 0.5em;
}
}